h1 {
    color: #800000;
}

.sheet-skinny_number {
    width: 2.5em !important;
    text-align: center;
}

.sheet-teml_text {
    margin: 0;
    width: 2.5em !important;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sheet-attribute_bonus {
    width: 4em !important;
    text-align: center;
    padding: 0.1em;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sheet-attribute_bonus_text {
    text-align: center;
}

.sheet-normal_hp {
    height: 3em;
    width: 50%;
    text-align: center;
}

.sheet-normal_hp_value {
    width: 100% !important;
    text-align: center;
}

.sheet-wide_hp {
    width: 100%;
    text-align: center;
}

.sheet-wide_hp_value {
    width: 100% !important;
    text-align: center;
    font-size: 18px;
}

.sheet-wide_hp_text {
    width: 100%;
    height: 5em !important;
    text-align: center;
}

.sheet-ability_table {
    display: inline;
}

.sheet-block-switch {
    display: inline;
}

.sheet-spell_details {
    vertical-align: top !important;
    margin-top: 1.5em;
}

.sheet-skill_name {
    width: 6.5em;
}

.sheet-hp_column {
    width: 50%;
    padding: 0.1em;
}

.sheet-ability_name {
    width: 12em;
}

.sheet-dice_input_width {
    width: 4em;
}

.sheet-small_name_width {
    width: 10em;
}

.sheet-table_header_details {
    font-size: 0.5em;
    text-align: center;
}
td.sheet-table_header_details {
    width: 20em;
}

div.sheet-tab-content { display: none; }

input.sheet-tab-main:checked ~ div.sheet-tab-main,
input.sheet-tab-feats:checked ~ div.sheet-tab-feats,
input.sheet-tab-powers:checked ~ div.sheet-tab-powers,
input.sheet-tab-char-config:checked ~ div.sheet-tab-char-config,
input.sheet-tab-equipment:checked ~ div.sheet-tab-equipment { display: block; } { display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    left: 30px;
}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

input.sheet-tab-feats + span::before {
    background: #fee;
    background: linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    left: 163px;
}

input.sheet-tab-feats:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    border-bottom-color: #fcecec;
}

input.sheet-tab-powers + span::before {
    background: #deeafc;
    background: linear-gradient(to top, #afbff8, #deeafc, #afbff8);
    left: 163px;
}

input.sheet-tab-powers:checked + span::before {
    background: #deeafc;
    background: linear-gradient(to top, #deeafc, #afbff8, #deeafc);
    border-bottom-color: #deeafc;
}


div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    margin: 2px 0 0 5px;
    padding: 5px;
}

div.sheet-tab-main { background-color: #ffffe6; }

div.sheet-tab-feats { background-color: #fcecec; }

div.sheet-tab-powers { background-color: #deeafc; }

div.sheet-tab-char-config { }


input.sheet-tab-powers + span::before { left: 313px; }

input.sheet-tab-equipment + span::before { left: 463px; }

input.sheet-tab-char-config + span::before { left: 613px; }

.sheet-block-a,
.sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.sheet-block-b,
.sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}