h1 {
    color: #800000;
}

.sheet-spell_section_title {
    text-align: center;
}

.sheet-skinny_number {
    width: 2.5em !important;
    text-align: center;
}

.sheet-teml_text {
    margin: 0;
    width: 2.5em !important;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sheet-attribute_bonus {
    width: 4em !important;
    text-align: center;
    padding: 0.1em;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sheet-attribute_bonus_text {
    text-align: center;
}

.sheet-normal_hp {
    height: 3em;
    width: 50%;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 0.8em;
}

.sheet-normal_hp_value {
    width: 100% !important;
    text-align: center;
}

.sheet-wide_hp {
    width: 100%;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 0.8em;
}

.sheet-wide_hp_value {
    width: 100% !important;
    text-align: center;
    font-size: 18px;
}

.sheet-wide_hp_text {
    width: 100%;
    height: 5em !important;
    text-align: center;
}

.sheet-ability_table {
    display: inline;
}

.sheet-block-switch {
    display: inline;
}

.sheet-skill_name {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1.0em;
    width: 8.0em;
}

.sheet-action_select {
    width: 4.0em;
}

.sheet-hp_column {
    width: 50%;
    padding: 0.1em;
}

.sheet-ability_name {
    width: 12em;
}

.sheet-dice_input_width {
    width: 4em;
}

.sheet-small_name_width {
    width: 10em;
}

.sheet-table_header_details {
    font-size: 0.5em;
    text-align: center;
}
td.sheet-table_header_details {
    width: 20em;
}

.sheet-config_checkbox_icon {
    position: absolute;
    white-space: nowrap;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-family: pictos;
    cursor: pointer;
}

.sheet-config_checkbox {
    vertical-align: top !important;
    opacity: 0;
    position: absolute;
    width: 16px;
    min-height: 16px;
    z-index: 2;
}

.sheet-spell_config_checkbox {
    margin-top: 15px;
}

.sheet-inventory_checkbox_pos {
    top: 10px;
    left: 280px;
    position: absolute;
    width: 16px;
    height: 16px;
}

.sheet-inventory_config_checkbox {
    vertical-align: top !important;
    opacity: 0;
    position: absolute;
    min-height: 16px;
    z-index: 2;

}

.sheet-inventory_config_icon {
    white-space: nowrap;
    font-size: 16px;
    font-family: pictos;
    cursor: pointer;

}

.sheet-button_text {
    text-decoration: none;
    background: 0 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
.sheet-rolltemplate-attack .sheet-template_attack_box {
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.sheet-rolltemplate-action .sheet-template_action_box {
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.sheet-rolltemplate-skill .sheet-template_skill_box {
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.sheet-rolltemplate-spell .sheet-template_spell_box {
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.sheet-rolltemplate-action .sheet-template_action_header {
    background-color: #660080;
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}

.sheet-rolltemplate-action .sheet-template_action_actions {
    background-color: #660080;
    color: #ffffff;
    font-size: 0.7em;
    font-family: pictos;
    text-align: center;
}

.sheet-rolltemplate-action .sheet-template_action_main_text {
    text-align: center;
    font-size: 1.0em;
}


.sheet-rolltemplate-spell .sheet-template_spell_header {
    background-color: #660080;
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}

.sheet-rolltemplate-spell .sheet-template_spell_actions {
    background-color: #660080;
    color: #ffffff;
    font-size: 0.7em;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}

.sheet-rolltemplate-spell .sheet-template_spell_actions_icon {
    background-color: #660080;
    color: #ffffff;
    font-size: 0.7em;
    font-family: pictos;
    text-align: center;
}

.sheet-rolltemplate-spell .sheet-template_spell_main_text {
    text-align: center;
    font-size: 1.0em;
}

.sheet-rolltemplate-spell .sheet-template_spell_props {
    text-align: center;
    font-size: 0.8em;
    font-family: "Franklin Gothic Medium", sans-serif;
}

.sheet-rolltemplate-spell .sheet-template_hr {
    margin-top: 0;
    margin-bottom: 0;
}

.sheet-rolltemplate-spell .sheet-template_spell_saves {
    text-align: center;
    font-size: 0.8em;
}

.sheet-rolltemplate-spell .sheet-template_spell_saves_title {
    padding-top: 0.3em;
    text-align: center;
    font-size: 0.7em;
    height: 1.2em;
    color: #777777;
    font-family: "Franklin Gothic Medium", sans-serif;
}

.sheet-rolltemplate-spell .sheet-template_spell_heighten {
    padding-top: 0.6em;
    text-align: center;
    font-size: 0.85em;
}

.sheet-rolltemplate-skill .sheet-template_skill_header {
    background-color: #077000;
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}


.sheet-rolltemplate-skill .sheet-template_skill_value {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.sheet-rolltemplate-attack .sheet-template_attack_header {
    background-color: #800000;
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}

.sheet-rolltemplate-attack .sheet-template_attack_actions {
    background-color: #800000;
    color: #ffffff;
    font-size: 0.7em;
    font-family: pictos;
    text-align: center;
}

.sheet-rolltemplate-attack .sheet-attack_row {
    padding: 0.2em;
}

button[type=roll].sheet-button_text::before { content: ''; }

.sheet-button_text_font {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 0.8em;
}

.sheet-inventory_table {

}

input[type="number"] {
    -moz-appearance: textfield;
}

input.sheet-tab-main:checked ~ div.sheet-tab-main,
input.sheet-tab-feats:checked ~ div.sheet-tab-feats,
input.sheet-tab-powers:checked ~ div.sheet-tab-powers,
input.sheet-tab-char-config:checked ~ div.sheet-tab-char-config,
input.sheet-tab-equipment:checked ~ div.sheet-tab-equipment { display: block; } { display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    left: 35px;
}

input.sheet-tab:checked + span::before {
    background: #faa;
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

input.sheet-tab-feats + span::before {

    left: 185px;
}

input.sheet-tab-feats:checked + span::before {
    background: #faa;
    border-bottom-color: #fcecec;
}

input.sheet-tab-powers + span::before {

    left: 185px;
}

input.sheet-tab-powers:checked + span::before {
    background: #faa;
}

input.sheet-tab-equipment:checked + span::before {
    background: #faa;
}

input.sheet-char-config:checked + span::before {
    background: #faa;
}


div.sheet-tab-content { display: none; }




div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    margin: 2px 0 0 5px;
    padding: 5px;
}

div.sheet-tab-main { }

div.sheet-tab-feats { }

div.sheet-tab-powers { }

div.sheet-tab-char-config { }


input.sheet-tab-powers + span::before { left: 335px; }

input.sheet-tab-equipment + span::before { left: 485px; }

input.sheet-tab-char-config + span::before { left: 635px; }

.sheet-block-a,
.sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.sheet-block-b,
.sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}